<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>系统集成管理工程师模拟试题</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="description" content="广州博霖教育科技有限公司是广州入户定点合作机构，公司成立至今一直致力于国家职业资格技能培训和学历教育培训，同时提供职业规划、就业指导、学历教育、入户广州等专项人才服务的教育培训机构，公司本着创新、共赢、和谐、以人为本集于一体的服务理念，得到了社会的一致好评与认可。" />
    <meta name="keywords" content="博霖教育|入户广州|学历提升|入户咨询中心|如何入户广州|广州入户最新政策|广州入户|如何快速入户广州|广州入户办理流程|广州入户办理|广州入户条件" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" type="images/x-icon" href="../../img/bolinglink.png">
    <link rel="stylesheet" type="text/css" href="../../ku/layui/css/layui.css" />

    <!-- <script src="../js/changHtmlFontSize.js"></script> -->
    <script type="text/javascript">
      function goPAGE() {
        if ((navigator.userAgent.match(
            /(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i
          ))) {
          var link = document.createElement('link');
          link.href = 'css/model-test_moble.css';
          link.rel = 'stylesheet';
          link.type = 'text/css';
          document.getElementsByTagName('head').item(0).appendChild(link);
        } else {
          var link = document.createElement('link');
          link.href = 'css/model-test.css';
          link.rel = 'stylesheet';
          link.type = 'text/css';
          document.getElementsByTagName('head').item(0).appendChild(link);
          console.log("pc")
        }
      }
      goPAGE();
    </script>
  </head>
  <body>

  <div class="app">
    <div class="container">
      <h1>系统集成管理工程师模拟试题</h1>
      <p class="base">测试基本信息 :</p>
      <div class="formbox">
        <form action="" class="layui-form" method="post">
        	<div class="layui-form-item">
            <label class="layui-form-label">您的姓名</label>
            <div class="layui-input-block">
              <input type="text" name="name" lay-verify="required"  maxlength="20"  autocomplete="off" placeholder="请填写您的姓名" class="layui-input">
            </div>
          </div>
        	<div class="layui-form-item">
        	  <label class="layui-form-label">手机号码</label>
        	  <div class="layui-input-block">
        	    <input type="text" name="telphone" lay-verify="required|phone" maxlength="11"  autocomplete="off" placeholder="请填写您的手机号码" class="layui-input">
        	  </div>
        	</div>
          <div class="item">
            <h4>1. 所谓信息系统集成是指</h4>
            <div class="layui-block">
              <input type="radio" name="system" lay-verify="required"  value="A" title="A、计算机网络系统的安装调试">
            </div>
            <div class="layui-block">
              <input type="radio" name="system" lay-verify="required"  value="A" title="B、计算机应用系统的布置和实施">
            </div>
          </div>
          
          
          
          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <script src="../js/jquery2.01.js"></script>
  <script src="../../ku/layui/layui.all.js"></script>
  <script type="text/javascript">
  	
  </script>
  </body>
</html>
